**pyc
**dat
**.DS_Store
src/build
src/dist
src/.eggs
src/.project
src/.pydevproject
src/.settings/
src/**/.dll
src/**/*.o
src/**/*.so
src/**/a.out
build/lib.*
build/temp.*
dist
*.egg-info
docs/_*/*
docs/autodoc/
build
pyan/
