astroid==2.3.3
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
idna==2.8
isort==4.3.21
Kivy==1.11.1
Kivy-Garden==0.1.4
-e git+https://github.com/surbhicis/KivyMD-1#egg=kivymd
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==6.1.0
pydenticon==0.3.1
Pygments==2.4.2
pylint==2.4.4
qrcode==6.1
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
