astroid==2.3.3
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
flake8==3.8.2
idna==2.8
importlib-metadata==1.6.0
isort==4.3.21
Kivy==1.11.1
Kivy-Garden==0.1.4
kivy-garden.qrcode==2019.914
#-e git+https://github.com/surbhicis/KivyMD-1#egg=kivymd
#-e git+https://github.com/navjotcis/KivyMD#egg=kivymd
-e git+https://github.com/kivymd/KivyMD.git
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.4
opencv-python==4.2.0.34
Pillow==6.1.0
pycodestyle==2.6.0
pydenticon==0.3.1
pyflakes==2.2.0
Pygments==2.4.2
pylint==2.4.4
pyzbar==0.1.8
qrcode==6.1
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
zipp==3.1.0
xclip
xsel