Source: pybitmessage
Section: mail
Priority: extra
Maintainer: Bob Mottram (4096 bits) <bob@robotics.uk.to>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/Bitmessage/PyBitmessage
Vcs-Git: https://github.com/Bitmessage/PyBitmessage.git

Package: pybitmessage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python (>= 2.7), openssl, python-qt4, libqt4-dev (>= 4.8.0), python-qt4-dev, sqlite3, libsqlite3-dev, gst123
Suggests: libmessaging-menu-dev
Description: Send encrypted messages
 Bitmessage is a P2P communications protocol used to send encrypted
 messages to another person or to many subscribers. It is decentralized and
 trustless, meaning that you need-not inherently trust any entities like
 root certificate authorities. It uses strong authentication which means
 that the sender of a message cannot be spoofed, and it aims to hide
 "non-content" data, like the sender and receiver of messages, from passive
 eavesdroppers like those running warrantless wiretapping programs.
